.info {
  display: grid;
  grid-template-columns: auto 30px;

  margin-bottom: 4px;
  text-align: justify;
}
.number {
  background-color: orange;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
}

section {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

img {
  width: 100%;
  height: auto;
}

mat-card {
  width: 270px;
  height: 430px;
  text-align: center;
}
