h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

mat-card-title {
  font-size: 25px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info {
  display: grid;
  grid-template-columns: auto 30px;
  text-align: justify;
}
.number {
  background-color: orange;
  text-align: center;
  padding-top: 4px;
  margin-bottom: 10px;
}

h4 {
  margin: 0;
  padding: 0;
  font-weight: bolder;
}

mat-progress-bar {
  margin-bottom: 10px;
}

.card-container {
  width: 300px;
  height: 400px;
  margin: 2px;
  text-align: center;
}

.card-container img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-container button {
  margin: 0;

  margin-bottom: 6px;
}
mat-card {
  height: auto;
  padding: 10px;
}
.title {
  font-weight: bold;
}
