<div class="spnr">
  <mat-spinner
    class="spinner"
    mode="indeterminate"
    [strokeWidth]="5"
    [diameter]="80"
    *ngIf="loading"
  ></mat-spinner>
</div>

<div *ngIf="!loading">
  <h1>Characters List</h1>
  <table mat-table [dataSource]="characters" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let character">{{ character.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let character">
        <a [routerLink]="['/character/', character.id]">{{ character.name }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="images">
      <th mat-header-cell *matHeaderCellDef>Picture</th>
      <td mat-cell *matCellDef="let character">
        <a [routerLink]="['/character/', character.id]"
          ><img
            [src]="character.images.xs"
            alt="Picture of {{ character.name }} "
        /></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row @fadeOut *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
